pandas==1.5.3
plotly==5.2.1
setuptools==58.1.0
blake3==0.2.1
vaex-core==4.16.0
vaex==4.16.0
ipython~=7.16
dask[dataframe]==2022.1.1  # The latest version that support Py 3.7
# numba==0.54.1
numpy>=1.22
ipykernel
matplotlib

# Uncomment it when ds lib v2 will be released
#th2-data-services>=2,<3  # ds core 2.*
th2-data-services~=2.0.0.dev
